// app global css in SCSS form

// TEXT

@font-face {
  font-family: Montserrat, sans-serif;
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

h6 {
  margin: 20px auto;
  font-weight: 500;
  color: $teal;
}

.default-text {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  color: $off-white;
}

.caption-text {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: $teal;

  &.white {
    color: $white;
  }
}

// INPUT

.q-input,
.q-field__native {
  color: $white;
}

// NOTIFIACTION
.simulator-q-notify-info .q-notification__icon {
  color: $positive;
}

.simulator-q-notify-error .q-notification__icon {
  color: $negative;
}

.simulator-q-notify-warning .q-notification__icon {
  color: $warning;
}

// LIST

.q-list.bordered {
  & > .q-item {
    border: 1px solid $grey-7;
  }

  .q-item__label--caption {
    color: $gray;
  }
}

.q-list {
  .q-item__label {
    color: $teal;
  }
}

.q-separator {
  background-color: $grey-7;
}

// MODAL

.q-dialog__inner {
  .q-card {
    background: #000000;
    border: 0.5px solid #28607c;
    box-shadow: 0 0 20px 0 rgba(34, 115, 143, 0.6);
    border-radius: 8px;
  }
}
